# Copy to terraform.tfvars (ignored). Supply an existing restricted SSH key pair
# Supply the Enterprise license from TF_VAR_vault_license, never from this file.
key_name                     = "<ec2-key-pair-name>"
admin_ssh_cidr               = "<trusted-cidr>"
