storage "raft" {
  path    = "/tmp/vault-node-1/data"
  node_id = "vault-node-1"
}

listener "tcp" {
  address     = "127.0.0.2:8200"
  tls_disable = 1
}

api_addr      = "http://vault-node-1:8200"
cluster_addr  = "http://vault-node-1:8201"
ui            = true
disable_mlock = true

# TODO (lab): add your seal "transit" stanza below, then restart this node.
# Hint:
# - transit address should point to the transit node at http://transit-vault:8200
# - token needs encrypt/decrypt/read permissions for the transit key you create
# - use mount_path "transit/" and key_name "autounseal-key"
