apiVersion: v1
kind: Namespace
metadata:
  name: demo-app
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: vso-static-auth
  namespace: demo-app
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultConnection
metadata:
  name: demo-vault-connection
  namespace: demo-app
spec:
  # Update for your cluster/Vault topology.
  address: https://vault.vault.svc:8200
  skipTLSVerify: true
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuth
metadata:
  name: vso-static-kubernetes-auth
  namespace: demo-app
spec:
  vaultConnectionRef: demo-vault-connection
  method: kubernetes
  mount: kubernetes
  kubernetes:
    role: vso-static-role
    serviceAccount: vso-static-auth
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: app-static-config
  namespace: demo-app
spec:
  vaultAuthRef: vso-static-kubernetes-auth
  mount: kvv2
  type: kv-v2
  path: demo/app
  refreshAfter: 30s
  destination:
    name: app-static-secret
    create: true
