apiVersion: v1
kind: Namespace
metadata:
  name: demo-app
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: vso-dynamic-auth
  namespace: demo-app
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultConnection
metadata:
  name: demo-vault-connection
  namespace: demo-app
spec:
  # Update for your cluster/Vault topology.
  address: https://vault.vault.svc:8200
  skipTLSVerify: true
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuth
metadata:
  name: vso-dynamic-kubernetes-auth
  namespace: demo-app
spec:
  vaultConnectionRef: demo-vault-connection
  method: kubernetes
  mount: kubernetes
  kubernetes:
    role: vso-dynamic-role
    serviceAccount: vso-dynamic-auth
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultDynamicSecret
metadata:
  name: app-database-creds
  namespace: demo-app
spec:
  vaultAuthRef: vso-dynamic-kubernetes-auth
  mount: database
  path: creds/app-role
  refreshAfter: 20s
  destination:
    name: app-dynamic-db-secret
    create: true
  revoke: true
